kaggle
kagglehub
torch
torchvision
segmentation-models-pytorch
albumentations
opencv-python-headless
pandas
numpy
scikit-learn
langgraph
langchain
langchain-groq
streamlit
pydantic
python-dotenv
tqdm
transformers
accelerate
